body {
  background: #ccc;
  margin: 0;
  font-family: Helvetica;
}

.container {
  margin: 0 auto;
  width: 700px;
  background: #fff url(alton-brown-onion-dip.jpg) no-repeat top center;
  padding-top: 150px;
  border-top: 10px solid #424242;
}

.recipe {
  padding: 20px 40px;
  background: #fff;
}

/*
Pseudo classes
LoVHAte (:link, :visited, :hover, :active)
:first-child
:last-child
:nth-child(an+b/even/odd/n)
*/

a:link, a:visited {
  color: #424242;
  text-decoration: none;
}

a:hover {
  background: yellow;
  font-size: 1.4em;
}

ul li:first-child{
  color:red;
}
ul li:last-child{
  color:blue;
}

ul li:nth-child(even){
}


/* Inline, Inline-Block and Block */

ul li{
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
  width: 45%;
  margin: auto;
}

/* Float example */

ol{
  float: left;
  width: 300px;
  padding: 10px 10px 10px 10px;
}

h2{
  clear: both;
}
