

body{
  font-family: "Helvetica";
  background: #ccc;
}

.container {
  margin: 0 auto;
  width: 700px;
  background: green url('') no-repeat top center;
  padding-top: 200px;
  border-top: 10px solid #424242
}

article{
  padding: 20px 40px;
  background: #fff;
}

.recipe {
  background: #fff;
}

.recipe h2{
  font-family: "Serif";
  background: #424242;
}
